.wrapLoadMoreBTN {
  display: flex;
  justify-content: center;
}

.loadMoreBTN {
  --size: 1.7rem;
  --margin: 0.2rem;
  --width: 8rem;
  margin: 0 var(--margin);
  border-radius: var(--size);
  background: #202020;
  width: var(--width);
  min-width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 6px;
  color: white;
}

.loadMoreBTN:hover {
  transform: scale(1.02);
}

.hidenLoadMoreBTN {
  opacity: 0;
}
@media (min-width: 1200px) {
  .wrapLoadMoreBTN {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .wrapLoadMoreBTN {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .wrapLoadMoreBTN {
    display: none;
  }
}

@media (max-width: 767px) {
  .wrapLoadMoreBTN {
    position: fixed;
    z-index: 1;
    bottom: 7rem;
    left: 0;
    height: 3rem;
    display: flex;
    align-items: center;
    background-color: black;
    width: 100%;
  }
}
